<%- include("header") %>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 text-center p-3">
            <form action="/edit-profile" method="POST">
                <h4 class="text-center">Update your profile</h4>
                <hr>
                <div class="form-group">
                    <label for="fullName">Full name</label>
                    <input class="form-control" type="text" id="fullName" placeholder="Full name" value="<%= user.fullName %>" name="fullName" required>
                </div>
                <hr>
                <div class="form-group">
                    <label for="username">Username</label>
                    <p class="text-center log-in-update-label">You'll be asked to log in again</p>
                    <input class="form-control" id="username" type="text" placeholder="Bio" value="<%= user.username %>" name="username" required>
                </div>
                <hr>
                <div class="form-group">
                    <label for="bio">Your bio</label>
                    <input class="form-control" id="bio" type="text" placeholder="Username" value="<%= user.bio %>" name="bio" required>
                </div>
                <input type="submit" placeholder="Submit">
            </form>
        </div>
    </div>
</div>

<script src="/js/profile.js"></script>
<script src="/js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/spotify.js"></script>

<%- include("footer") %>