<%- include("partials/header") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 mb-5">
            <div id="home-screen-content">
                <h3>What people are listening to:</h3>
                <ul>
                    <% for (var i = 0; i < popular.length; i++) { %>
                        <li class="popular-post"><%= i + 1 %>. <%= popular[i] %></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <%- include("partials/post-form") %>
            <%- include("partials/post-list", {post: posts, user: user}) %>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/js/spotify.js"></script>
<script src="/js/homepage.js"></script>
<%- include("partials/footer") %>