<%- include("partials/header") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Home screen</h1>
        </div>
        <div class="col-6">
            <form action="/new-post/home" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="What song's on your mind?" name="content" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Song link" name="song" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post" class="btn btn-primary btn-block">
                </div>
            </form>
            <ul class="posts">
                <% posts.reverse().forEach(post => {%>
                    <% if (post.content && post.song)  { %> 
                        <li class="post">
                            <% if (post.author.id.equals(user._id)) { %>
                                <p>@<a href="/profile"><%=post.author.username %></a></p>
                            <% } else { %>
                                <p>@<a href="/profile/<%= post.author.id %>"><%=post.author.username %></a></p>
                            <% } %>
                            <p><%= post.content %></p>
                            <iframe style="position: relative; z-index: 2;" src="<%= post.song %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            <p><%=post.date%></p>
                            <% if (post.author.id.equals(user._id)) { %>
                                <a href="/delete-post/<%= post._id %>/home">Delete</a>
                            <% } %>
                        </li>
                    <% } %>
                <% })%>
            </ul>
        </div>
    </div>
</div>
<%- include("partials/footer") %>